* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

#caixa {
  position: absolute;
  border: 1px solid black;
  border-radius: 2%;
  width: 20rem;
  height: 25rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: -2px 2px 7px rgba(0, 0, 0, 0.5);
}

h1 {
  font-size: 20px;
  padding: 3rem 0;
  text-align: center;
  border-radius: 20px;
}

#caixa2 {
  padding: 3rem 0;
  text-align: center;
}

#caixa2 input {
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
  border: 1px solid #ccc;
  margin: 2rem 0;
}

button {
  order: 10;
  width: 150px;
  height: 40px;
  font-size: 16px;
  border-radius: 10px;
}

#resultado {
  justify-content: center;
  display: flex;
  background-color: white;
  color: #333;
  width: 186px;
  height: 37px;
  padding: 10px;
  top: 50%;
  left: 50%;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
}